In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_cols = ['user id','movie id','rating','timestamp']

In [3]:
item_cols = ['movie id','movie title','release date',
'video release date','IMDb URL','unknown','Action',
'Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','Film-Noir','Horror',
'Musical','Mystery','Romance ','Sci-Fi','Thriller',
'War' ,'Western']

In [4]:
user_cols = ['user id','age','gender','occupation','zip code']

In [5]:
users = pd.read_csv('/home/leonardo/4522/ml-100k/u.user', sep='|',
names=user_cols, encoding='latin-1')

In [6]:
item = pd.read_csv('/home/leonardo/4522/ml-100k/u.item', sep='|',
names=item_cols, encoding='latin-1')

In [7]:
data = pd.read_csv('/home/leonardo/4522/ml-100k/u.data', sep='\t',
names=data_cols, encoding='latin-1')

In [8]:
print(users.head())
print(item.head())
print(data.head())

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213
   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Childrens  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1          1  ...        0          0       0        0
1          1          0          0  ...        0          0       0        0
2          0          0          0  ...        0          0       0        0
3          0          0          0  ...        0          0       0        0
4          0          0          0  ...        0          0       0        0

   Mystery  Romance   Sci-Fi  Thriller  War  Western
0        0         0       0         0    0        0
1        0         0       0         1    0        0
2        0         0       0         1    0        0
3        0         0       0         0    0        0
4        0         0       0         1    0        0

[5 rows x 24 columns]
   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [9]:
print(users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None

In [10]:
print(item.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
movie id              1682 non-null int64
movie title           1682 non-null object
release date          1681 non-null object
video release date    0 non-null float64
IMDb URL              1679 non-null object
unknown               1682 non-null int64
Action                1682 non-null int64
Adventure             1682 non-null int64
Animation             1682 non-null int64
Childrens             1682 non-null int64
Comedy                1682 non-null int64
Crime                 1682 non-null int64
Documentary           1682 non-null int64
Drama                 1682 non-null int64
Fantasy               1682 non-null int64
Film-Noir             1682 non-null int64
Horror                1682 non-null int64
Musical               1682 non-null int64
Mystery               1682 non-null int64
Romance               1682 non-null int64
Sci-Fi                1682 non-null int64
Thriller              1682 non-null int64
War                   1682 non-null int64
Western               1682 non-null int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user id      100000 non-null int64
movie id     100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB
None

In [12]:
dataset = pd.merge(pd.merge(item, data),users)
print(dataset.head())

   movie id            movie title release date  video release date  \
0         1       Toy Story (1995)  01-Jan-1995                 NaN
1         4      Get Shorty (1995)  01-Jan-1995                 NaN
2         5         Copycat (1995)  01-Jan-1995                 NaN
3         7  Twelve Monkeys (1995)  01-Jan-1995                 NaN
4         8            Babe (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
2  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
3  http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
4     http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0

   Adventure  Animation  Childrens  ...  Thriller  War  Western  user id  \
0          0          1          1  ...         0    0        0      308
1          0          0          0  ...         0    0        0      308
2          0          0          0  ...         1    0        0      308
3          0          0          0  ...         0    0        0      308
4          0          0          1  ...         0    0        0      308

   rating  timestamp  age  gender  occupation  zip code
0       4  887736532   60       M     retired     95076
1       5  887737890   60       M     retired     95076
2       4  887739608   60       M     retired     95076
3       4  887738847   60       M     retired     95076
4       5  887736696   60       M     retired     95076

[5 rows x 31 columns]

In [13]:
ratings_total = dataset.groupby('movie title').size()
print(ratings_total.head())

movie title
'Til There Was You (1997)      9
1-900 (1994)                   5
101 Dalmatians (1996)        109
12 Angry Men (1957)          125
187 (1997)                    41
dtype: int64

In [14]:
ratings_mean = (dataset.groupby('movie title'))['movie titles','rating'].mean()
print(ratings_mean.head())

KeyError: "Columns not found: 'movie titles'"

In [ ]:
ratings_total = pd.DataFrame({'movie titles':ratings_total.index,
'total ratings': ratings_total.values})
ratings_mean['movie title'] = ratings_mean.index

In [ ]:
ratings_total

In [ ]:
ratings_mean

In [ ]:
final = pd.merge(ratings_mean, ratings_total).sort_values(by = 'total ratings',
ascending= False)
print(final.head())

In [ ]:
print(final.describe())

In [ ]:
final = final[:300].sort_values(by = 'rating',
ascending = False)
print(final.head())